// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #B7C5D3;
@light-gray: #718CA1;
@gray: #41505E;
@dark-gray: #333F4A;
@very-dark-gray: #1D252C;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;


@radagast-brown: #75491F; // Radagast the Brown
@dark-blue: #81a2be;
@gandalf-grey: #94898E; // Gandalf the Grey
@mirkwood-green: #406c24; // Dark green plants of mirkwood
@hobbiton-green: #99A654; // Lush grass of hobbiton
@mount-doom-red: #d12f18; // Fiery red of mount doom
@saruman-white: white;
@sting-blue: #1DCBF5; // Blue glow of sting
