// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #B7C5D3;
@light-gray: #718CA1;
@gray: #41505E;
@dark-gray: #333F4A;
// @very-dark-gray: #332c29;
@very-dark-gray: #332e2c;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
@yellow: #e4ee14;
@pink: #ed35ca;


@radagast-brown: #75491F; // Radagast the Brown
@dark-blue: #81a2be;
@gandalf-grey: #aca4a8; // Gandalf the Grey
@mirkwood-green: #4e8929; // Dark green plants of mirkwood
// @mirkwood-green: #de935f;
// @hobbiton-green: #95d46e; // Lush grass of hobbiton
@hobbiton-green: #67c22f; // Lush grass of hobbiton
@mount-doom-red: #d03721; // Fiery red of mount doom
@light-mount-doom-red: lighten(@mount-doom-red,20%); // Lighted fiery red of mount doom
// @saruman-white: #fdfdfc;
@saruman-white: #f1f1f1;
@sting-blue: #1DCBF5; // Blue glow of sting
@laurelin-gold: #d4cc14; // Golden glow of one of the trees of Valinor
// @palantir-purple: #17121a; // Deep purple of the palantir
@palantir-purple: #211f22; // Deep purple of the palantir
